In [1]:
'''
Module is for quarterly analysis of Chemagen

Author: Hema

Date: 20/May/2022

'''

In [ ]:
import pandas as pd
#import numpy as np

In [2]:
df_cns = pd.read_csv(r'NIHR-NBC-RTB-CNS-DNA-Extraction-Report-202205191330.csv')
df_rdc = pd.read_csv(r'NIHR-NBC-RDC-DNA-Extraction-Report-202205191312.csv')
df_cvd = pd.read_csv(r'NIHR-NBC-RTB-CVD-DNA-Extraction-Report-202205191314.csv')
df_gen = pd.read_csv(r'NIHR-NBC-RTB-GEN-DNA-Extraction-Report-202205191312.csv')
df_ibd = pd.read_csv(r'NIHR-NBC-RTB-IBD-DNA-Extraction-Report-202205191314.csv')
df_imi = pd.read_csv(r'NIHR-NBC-RTB-IMI-DNA-Extraction-Report-202205191251.csv')
df_naf = pd.read_csv(r'NIHR-NBC-RTB-NAF-DNA-Extraction-Report-202205191311.csv')

In [8]:
#df_cns_q4 = pd.read_csv(r'C:\Users\hema.ramasamy\OneDrive - Uk Biocentre\SSD_Core\Analysis\Quarterly Validations\2021\Q4 Chemagen\NIHR-NBC-RTB-CNS-DNA-Extraction-Report-202205191330.csv')
df_rdc_q4 = pd.read_csv(r'C:\Users\hema.ramasamy\OneDrive - Uk Biocentre\SSD_Core\Analysis\Quarterly Validations\2021\Q4 Chemagen\NIHR-NBC-RDC-DNA-Extraction-Report-202205191409.csv')
df_cvd_q4 = pd.read_csv(r'C:\Users\hema.ramasamy\OneDrive - Uk Biocentre\SSD_Core\Analysis\Quarterly Validations\2021\Q4 Chemagen\NIHR-NBC-RTB-CVD-DNA-Extraction-Report-202205191414.csv')
df_gen_q4 = pd.read_csv(r'C:\Users\hema.ramasamy\OneDrive - Uk Biocentre\SSD_Core\Analysis\Quarterly Validations\2021\Q4 Chemagen\NIHR-NBC-RTB-GEN-DNA-Extraction-Report-202205191412.csv')
df_ibd_q4 = pd.read_csv(r'C:\Users\hema.ramasamy\OneDrive - Uk Biocentre\SSD_Core\Analysis\Quarterly Validations\2021\Q4 Chemagen\NIHR-NBC-RTB-IBD-DNA-Extraction-Report-202205191414.csv')
df_imi_q4 = pd.read_csv(r'C:\Users\hema.ramasamy\OneDrive - Uk Biocentre\SSD_Core\Analysis\Quarterly Validations\2021\Q4 Chemagen\NIHR-NBC-RTB-IMI-DNA-Extraction-Report-202205191410.csv')
df_naf_q4 = pd.read_csv(r'C:\Users\hema.ramasamy\OneDrive - Uk Biocentre\SSD_Core\Analysis\Quarterly Validations\2021\Q4 Chemagen\NIHR-NBC-RTB-NAF-DNA-Extraction-Report-202205191411.csv')

In [10]:
dfs = [df_cns,df_rdc,df_cvd,df_gen,df_ibd,df_imi,df_naf,df_rdc_q4,df_cvd_q4,df_gen_q4,df_ibd_q4,df_imi_q4,df_naf_q4]

df = pd.concat(dfs)
df.head()

,Project,ParticipantID,ParentSampleID,SampleID,ProcessedDateTime,SourceSampleType,Method,AliquotCount,Volume,VolumeUnit,Concentration,ConcentrationUnit,Analyzer,OD260/280,OD260/230
0,RTB-CNS,CNS09002,UKBC9002709_F01,1049502773,21/01/2022 12:45:39,Blood,Chemagen,1,150.0,ul,51.63,ng/ul,Trinean Dropsense,2.11,2.78
1,RTB-CNS,CNS02151,UKBC9003171_H08,4032391817,24/03/2022 13:44:37,Blood,Chemagen,1,150.0,ul,67.87,ng/ul,Trinean Dropsense,2.00,2.45
2,RTB-CNS,CNS10015,UKBC9002738_G08,4015652831,01/02/2022 12:28:56,Blood,Chemagen,1,150.0,ul,90.24,ng/ul,Trinean Dropsense,2.05,2.49
3,RTB-CNS,CNS09006,UKBC9002737_E04,4024684118,31/01/2022 11:50:09,Blood,Chemagen,1,150.0,ul,90.60,ng/ul,Trinean Dropsense,1.92,2.28
4,RTB-CNS,CNS10017,UKBC9002817_D12,4015676188,18/02/2022 11:52:03,Blood,Chemagen,1,150.0,ul,102.23,ng/ul,Trinean Dropsense,2.04,2.35

In [11]:
df['Yield(ug)'] = (df['Concentration'] * df['Volume'])/1000 # Total sample volume
df.head(2)

,Project,ParticipantID,ParentSampleID,SampleID,ProcessedDateTime,SourceSampleType,Method,AliquotCount,Volume,VolumeUnit,Concentration,ConcentrationUnit,Analyzer,OD260/280,OD260/230,Yield(ug)
0,RTB-CNS,CNS09002,UKBC9002709_F01,1049502773,21/01/2022 12:45:39,Blood,Chemagen,1,150.0,ul,51.63,ng/ul,Trinean Dropsense,2.11,2.78,7.7445
1,RTB-CNS,CNS02151,UKBC9003171_H08,4032391817,24/03/2022 13:44:37,Blood,Chemagen,1,150.0,ul,67.87,ng/ul,Trinean Dropsense,2.00,2.45,10.1805

In [12]:
df['Date'] = pd.to_datetime(df['ProcessedDateTime'], format='%d/%m/%Y %H:%M:%S')

In [13]:
df['Date'] = df['Date'].dt.date

In [14]:
df_chem_q1_q4 = df[['Date','Project','Method', 'OD260/280',\
                    'OD260/230','Concentration','Yield(ug)']]
df_chem_q1_q4.to_csv('Combined_Chemagen_Q1_22_Q4_21.csv')