In [1]:
'''
Module is for quarterly analysis of Chemagen

Author: Hema

Date: 20/May/2022

'''

'\nModule is for quarterly analysis of Chemagen\n\nAuthor: Hema\n\nDate: 20/May/2022\n\n'

In [2]:

import os
import glob
import pandas as pd

#import numpy as np

In [3]:
PATH = 'C:\\Users\\hema.ramasamy\\OneDrive - Uk Biocentre\\SSD_Core\\Analysis\\Quarterly Validations\\2022\\Q1 Chemagen\\Data'
#PATH = os.getcwd()
temps_csvs = glob.glob(os.path.join(PATH, "*.csv"))     

df_for_each_csv = (pd.read_csv(f) for f in temps_csvs)
df = pd.concat(df_for_each_csv, ignore_index = True)

,Project,ParticipantID,ParentSampleID,SampleID,ProcessedDateTime,SourceSampleType,Method,AliquotCount,Volume,VolumeUnit,Concentration,ConcentrationUnit,Analyzer,OD260/280,OD260/230
0,RDC,K037529R,UKBC9002688_H02,4032341957,14/01/2022 11:32:39,Blood,Chemagen,1,150.0,ul,112.82,ng/ul,Trinean Dropsense,1.91,2.19
1,RDC,K019034N,UKBC9002799_H10,4024727561,07/03/2022 13:06:11,Blood,Chemagen,1,150.0,ul,85.22,ng/ul,Trinean Dropsense,1.95,2.23
2,RDC,K019037R,UKBC9003215_A05,4015654337,28/03/2022 12:34:09,Blood,Chemagen,1,150.0,ul,85.58,ng/ul,Trinean Dropsense,2.07,2.32
3,RDC,K045708G,UKBC9002801_D10,4015632108,09/03/2022 11:24:12,Blood,Chemagen,1,150.0,ul,165.76,ng/ul,Trinean Dropsense,1.99,2.20
4,RDC,K037521H,UKBC9003175_B10,4032389235,25/03/2022 12:55:46,Blood,Chemagen,1,150.0,ul,82.44,ng/ul,Trinean Dropsense,1.98,2.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5613,RTB-NAF,F000534E,UKBC9002509_C09,4017425307,15/12/2021 10:51:55,Blood,Chemagen,1,150.0,ul,86.20,ng/ul,Trinean Dropsense,1.97,2.30
5614,RTB-NAF,F000629H,UKBC9002245_H03,1049537447,05/10/2021 11:20:25,Blood,Chemagen,1,150.0,ul,53.31,ng/ul,Trinean Dropsense,1.77,1.68
5615,RTB-NAF,F000450N,UKBC9002355_A07,4032312506,26/11/2021 13:02:08,Blood,Chemagen,1,150.0,ul,63.33,ng/ul,Trinean Dropsense,2.12,2.63
5616,RTB-NAF,F000559G,UKBC9002356_G04,4032312296,26/11/2021 14:27:07,Blood,Chemagen,1,150.0,ul,106.39,ng/ul,Trinean Dropsense,1.84,1.83
5617,RTB-NAF,F000904G,UKBC9002341_D11,4032199069,22/10/2021 11:55:20,Blood,Chemagen,1,150.0,ul,126.86,ng/ul,Trinean Dropsense,2.01,2.31

In [4]:
df['Yield(ug)'] = (df['Concentration'] * df['Volume'])/1000 # Total sample volume

,Project,ParticipantID,ParentSampleID,SampleID,ProcessedDateTime,SourceSampleType,Method,AliquotCount,Volume,VolumeUnit,Concentration,ConcentrationUnit,Analyzer,OD260/280,OD260/230,Yield(ug)
0,RDC,K037529R,UKBC9002688_H02,4032341957,14/01/2022 11:32:39,Blood,Chemagen,1,150.0,ul,112.82,ng/ul,Trinean Dropsense,1.91,2.19,16.923
1,RDC,K019034N,UKBC9002799_H10,4024727561,07/03/2022 13:06:11,Blood,Chemagen,1,150.0,ul,85.22,ng/ul,Trinean Dropsense,1.95,2.23,12.783

In [5]:
df['Date'] = pd.to_datetime(df['ProcessedDateTime'], format='%d/%m/%Y %H:%M:%S')

In [6]:
df['Date'] = df['Date'].dt.date

In [9]:
df_chem_q1_q4 = df[['Date','Project','Method', 'OD260/280',\
                    'OD260/230','Concentration','Yield(ug)']]
df_chem_q1_q4.to_csv(r'C:\Users\hema.ramasamy\OneDrive - Uk Biocentre\SSD_Core\Analysis\Quarterly Validations\Comparison\Combined_Chemagen_Q1_22_Q4_21.csv')