In [1]:
import pandas as pd,numpy as np

In [2]:
df_cns = pd.read_csv(r'NIHR-NBC-RTB-CNS-DNA-Extraction-Report-202205191330.csv')
df_rdc = pd.read_csv(r'NIHR-NBC-RDC-DNA-Extraction-Report-202205191312.csv')
df_cvd = pd.read_csv(r'NIHR-NBC-RTB-CVD-DNA-Extraction-Report-202205191314.csv')
df_gen = pd.read_csv(r'NIHR-NBC-RTB-GEN-DNA-Extraction-Report-202205191312.csv')
df_ibd = pd.read_csv(r'NIHR-NBC-RTB-IBD-DNA-Extraction-Report-202205191314.csv')
df_imi = pd.read_csv(r'NIHR-NBC-RTB-IMI-DNA-Extraction-Report-202205191251.csv')
df_naf = pd.read_csv(r'NIHR-NBC-RTB-NAF-DNA-Extraction-Report-202205191311.csv')

In [3]:
dfs = [df_cns,df_rdc,df_cvd,df_gen,df_ibd,df_imi,df_naf]

df = pd.concat(dfs)
df.head()

,Project,ParticipantID,ParentSampleID,SampleID,ProcessedDateTime,SourceSampleType,Method,AliquotCount,Volume,VolumeUnit,Concentration,ConcentrationUnit,Analyzer,OD260/280,OD260/230
0,RTB-CNS,CNS09002,UKBC9002709_F01,1049502773,21/01/2022 12:45:39,Blood,Chemagen,1,150.0,ul,51.63,ng/ul,Trinean Dropsense,2.11,2.78
1,RTB-CNS,CNS02151,UKBC9003171_H08,4032391817,24/03/2022 13:44:37,Blood,Chemagen,1,150.0,ul,67.87,ng/ul,Trinean Dropsense,2.00,2.45
2,RTB-CNS,CNS10015,UKBC9002738_G08,4015652831,01/02/2022 12:28:56,Blood,Chemagen,1,150.0,ul,90.24,ng/ul,Trinean Dropsense,2.05,2.49
3,RTB-CNS,CNS09006,UKBC9002737_E04,4024684118,31/01/2022 11:50:09,Blood,Chemagen,1,150.0,ul,90.60,ng/ul,Trinean Dropsense,1.92,2.28
4,RTB-CNS,CNS10017,UKBC9002817_D12,4015676188,18/02/2022 11:52:03,Blood,Chemagen,1,150.0,ul,102.23,ng/ul,Trinean Dropsense,2.04,2.35

In [4]:
df['Yield(ug)'] = (df['Concentration'] * df['Volume'])/1000 # Total sample volume 
df.head(2)

,Project,ParticipantID,ParentSampleID,SampleID,ProcessedDateTime,SourceSampleType,Method,AliquotCount,Volume,VolumeUnit,Concentration,ConcentrationUnit,Analyzer,OD260/280,OD260/230,Yield(ug)
0,RTB-CNS,CNS09002,UKBC9002709_F01,1049502773,21/01/2022 12:45:39,Blood,Chemagen,1,150.0,ul,51.63,ng/ul,Trinean Dropsense,2.11,2.78,7.7445
1,RTB-CNS,CNS02151,UKBC9003171_H08,4032391817,24/03/2022 13:44:37,Blood,Chemagen,1,150.0,ul,67.87,ng/ul,Trinean Dropsense,2.00,2.45,10.1805

In [6]:
df['Date'] = pd.to_datetime(df['ProcessedDateTime'], format='%d/%m/%Y %H:%M:%S')

In [7]:
df['Date'] = df['Date'].dt.date

In [8]:
df_chem_q1_22 = df[['Date','Project','Method', 'OD260/280', 'OD260/230','Concentration','Yield(ug)']]
df_chem_q1_22.to_csv('Combined_Chemagen_Q1_2022.csv')

In [9]:
df_chem_q1_22

,Date,Project,Method,OD260/280,OD260/230,Concentration,Yield(ug)
0,2022-01-21,RTB-CNS,Chemagen,2.11,2.78,51.63,7.7445
1,2022-03-24,RTB-CNS,Chemagen,2.00,2.45,67.87,10.1805
2,2022-02-01,RTB-CNS,Chemagen,2.05,2.49,90.24,13.5360
3,2022-01-31,RTB-CNS,Chemagen,1.92,2.28,90.60,13.5900
4,2022-02-18,RTB-CNS,Chemagen,2.04,2.35,102.23,15.3345
...,...,...,...,...,...,...,...
223,2022-02-08,RTB-NAF,Chemagen,1.91,1.61,123.14,18.4710
224,2022-01-12,RTB-NAF,Chemagen,1.91,2.01,80.15,12.0225
225,2022-03-21,RTB-NAF,Chemagen,1.95,2.26,100.27,15.0405
226,2022-03-25,RTB-NAF,Chemagen,2.10,2.09,74.42,11.1630
227,2022-02-08,RTB-NAF,Chemagen,1.93,2.06,57.70,8.6550