In [1]:
import pandas as pd,numpy as np

In [2]:
df_jan = pd.read_csv(r'C:\Users\hema.ramasamy\OneDrive - Uk Biocentre\SSD_Core\Analysis\January 2022\RTB CNS\CNS_Chemagen_jan_22.csv')
df_feb = pd.read_csv(r'C:\Users\hema.ramasamy\OneDrive - Uk Biocentre\SSD_Core\Analysis\Feb 2022\RTB_CNS\CNS_Chemagen_feb_22.csv')
df_mar = pd.read_csv(r'C:\Users\hema.ramasamy\OneDrive - Uk Biocentre\SSD_Core\Analysis\Mar 2022\RTB_CNS\CNS_Chemagen_mar_22.csv')
#df_apr = pd.read_csv(r'C:\Users\hema.ramasamy\OneDrive - Uk Biocentre\SSD_Core\Analysis\Apr 2022\RTB-CNS\CNS_Chemagen_apr_22.csv')

In [5]:
dfs = [df_jan,df_feb,df_mar]
df =  pd.concat(dfs)
df

,Unnamed: 0,Date,Project,Method,OD260/280,OD260/230,Concentration,Yield(ug)
0,0,2022-01-21,RTB-CNS,Chemagen,2.11,2.78,51.63,7.7445
1,1,2022-01-31,RTB-CNS,Chemagen,1.92,2.28,90.60,13.5900
2,2,2022-01-14,RTB-CNS,Chemagen,1.90,2.26,145.17,21.7755
3,3,2022-01-21,RTB-CNS,Chemagen,2.03,2.46,119.11,17.8665
4,4,2022-01-17,RTB-CNS,Chemagen,1.91,2.08,80.55,12.0825
...,...,...,...,...,...,...,...,...
40,40,2022-03-07,RTB-CNS,Chemagen,1.94,2.27,135.99,20.3985
41,41,2022-03-03,RTB-CNS,Chemagen,2.01,2.42,66.91,10.0365
42,42,2022-03-10,RTB-CNS,Chemagen,2.01,2.37,109.27,16.3905
43,43,2022-03-07,RTB-CNS,Chemagen,1.92,2.34,108.03,16.2045
44,44,2022-03-10,RTB-CNS,Chemagen,1.91,2.31,84.59,12.6885

In [7]:
df_qtr1_22 = df.drop(columns = 'Unnamed: 0')
df_qtr1_22

,Date,Project,Method,OD260/280,OD260/230,Concentration,Yield(ug)
0,2022-01-21,RTB-CNS,Chemagen,2.11,2.78,51.63,7.7445
1,2022-01-31,RTB-CNS,Chemagen,1.92,2.28,90.60,13.5900
2,2022-01-14,RTB-CNS,Chemagen,1.90,2.26,145.17,21.7755
3,2022-01-21,RTB-CNS,Chemagen,2.03,2.46,119.11,17.8665
4,2022-01-17,RTB-CNS,Chemagen,1.91,2.08,80.55,12.0825
...,...,...,...,...,...,...,...
40,2022-03-07,RTB-CNS,Chemagen,1.94,2.27,135.99,20.3985
41,2022-03-03,RTB-CNS,Chemagen,2.01,2.42,66.91,10.0365
42,2022-03-10,RTB-CNS,Chemagen,2.01,2.37,109.27,16.3905
43,2022-03-07,RTB-CNS,Chemagen,1.92,2.34,108.03,16.2045
44,2022-03-10,RTB-CNS,Chemagen,1.91,2.31,84.59,12.6885

In [8]:
df_qtr1_22.to_csv('df_qtr1_22_Chemagen_CNS.csv')